### ROLLUP, CUBE, and GROUPING SETS Operators in SQL

These operators are used in SQL to create **aggregated summaries** over multiple dimensions. They extend the functionality of the `GROUP BY` clause by enabling multiple levels of aggregation in a single query.

---

### **1. ROLLUP**
**Purpose:**  
The `ROLLUP` operator generates a **hierarchical aggregation**. It provides subtotal and grand total values for the specified grouping columns.

#### **Syntax:**
```sql
GROUP BY ROLLUP(column1, column2, ...)
```

#### **Example:**
Consider the following `sales` table:

| Region   | Product   | Sales |
|----------|-----------|-------|
| East     | A         | 100   |
| East     | B         | 150   |
| West     | A         | 200   |
| West     | B         | 250   |

#### Query:
```sql
SELECT 
    Region,
    Product,
    SUM(Sales) AS Total_Sales
FROM sales
GROUP BY ROLLUP(Region, Product);
```

#### **Output:**
| Region   | Product   | Total_Sales |
|----------|-----------|-------------|
| East     | A         | 100         |
| East     | B         | 150         |
| East     | NULL      | 250         |
| West     | A         | 200         |
| West     | B         | 250         |
| West     | NULL      | 450         |
| NULL     | NULL      | 700         |

- `NULL` in the output represents subtotals and the grand total:  
  - Row `(East, NULL)` is the subtotal for the East region.  
  - Row `(NULL, NULL)` is the grand total.

---

### **2. CUBE**
**Purpose:**  
The `CUBE` operator provides **all possible combinations of aggregations** for the specified grouping columns.

#### **Syntax:**
```sql
GROUP BY CUBE(column1, column2, ...)
```

#### **Example:**
Using the same `sales` table:

#### Query:
```sql
SELECT 
    Region,
    Product,
    SUM(Sales) AS Total_Sales
FROM sales
GROUP BY CUBE(Region, Product);
```

#### **Output:**
| Region   | Product   | Total_Sales |
|----------|-----------|-------------|
| East     | A         | 100         |
| East     | B         | 150         |
| East     | NULL      | 250         |
| West     | A         | 200         |
| West     | B         | 250         |
| West     | NULL      | 450         |
| NULL     | A         | 300         |
| NULL     | B         | 400         |
| NULL     | NULL      | 700         |

- **Explanation:**  
  - All combinations of subtotals are included (e.g., `(NULL, A)` for total sales of product A across all regions).

---

### **3. GROUPING SETS**
**Purpose:**  
The `GROUPING SETS` operator explicitly defines **custom combinations** of aggregations.

#### **Syntax:**
```sql
GROUP BY GROUPING SETS((column1, column2), (column1), (column2), ())
```

#### **Example:**
Using the same `sales` table:

#### Query:
```sql
SELECT 
    Region,
    Product,
    SUM(Sales) AS Total_Sales
FROM sales
GROUP BY GROUPING SETS((Region, Product), (Region), (Product), ());
```

#### **Output:**
| Region   | Product   | Total_Sales |
|----------|-----------|-------------|
| East     | A         | 100         |
| East     | B         | 150         |
| West     | A         | 200         |
| West     | B         | 250         |
| East     | NULL      | 250         |
| West     | NULL      | 450         |
| NULL     | A         | 300         |
| NULL     | B         | 400         |
| NULL     | NULL      | 700         |

- **Explanation:**  
  - The combinations of groups `(Region, Product)`, `(Region)`, `(Product)`, and `()` (grand total) are explicitly defined.

---

### **Key Differences:**

| Feature           | ROLLUP                | CUBE                  | GROUPING SETS         |
|--------------------|-----------------------|-----------------------|-----------------------|
| **Hierarchy**      | Generates subtotals and grand totals for hierarchical data. | All combinations of subtotals and grand totals. | Custom combinations of subtotals and grand totals. |
| **Control**        | Less control over groups. | Less control over groups. | Full control over the grouping combinations. |
| **Performance**    | More efficient for hierarchical summaries. | More computationally expensive. | Optimized for specific grouping needs. |

---

### **Choosing the Right Operator**
1. **Use ROLLUP** for hierarchical aggregations (e.g., Year > Quarter > Month).
2. **Use CUBE** when all combinations of aggregations are needed.
3. **Use GROUPING SETS** for specific, customized aggregations.