```sql
CREATE TABLE tableA (
value INT
);


INSERT INTO tableA (value) VALUES
(10),
(10),
(10),
(10),
(20),
(20),
(30),
(50),
(50),
(10),
(10),
(10);

select * from tableA;

+-------+
| value |
+-------+
|    10 |
|    10 |
|    10 |
|    10 |
|    20 |
|    20 |
|    30 |
|    50 |
|    50 |
|    10 |
|    10 |
|    10 |
+-------+

expected output:

+-------+
| value |
+-------+
|    10 |
|    20 |
|    30 |
|    50 |
|    10 |
+-------+

**Solution:**
``` sql

select value 
from
(
select value, lag(value) over(order by id asc) as previous_value
from
(
select value, row_number() over() as id
from tableA
) a
)b
where value != previous_value or previous_value is null;