``` sql
create table practice(
    id int,
    c1 varchar(50),
    c2 varchar(50),
    c3 varchar(50)
    );

    
insert into practice values(1,'red','yellow','blue');
insert into practice values(2,null,'red','green');
insert into practice values(3,'yellow',null,'violet');

select * from practice;

+------+--------+--------+--------+
| id   | c1     | c2     | c3     |
+------+--------+--------+--------+
|    1 | red    | yellow | blue   |
|    2 | NULL   | red    | green  |
|    3 | yellow | NULL   | violet |
+------+--------+--------+--------+

Question. Write an SQL query to fetch the records which have atleast one yellow present in any of the columns(c1,c2 or c3) without using 'OR' operator.

Output:

+------+--------+--------+--------+
| id   | c1     | c2     | c3     |
+------+--------+--------+--------+
|    1 | red    | yellow | blue   |
|    3 | yellow | NULL   | violet |
+------+--------+--------+--------+
```
### **Solution:1**
``` sql
select * from practice
where concat(coalesce(c1,0),coalesce(c2,0),coalesce(c3,0)) like '%yellow%';
```

### **Solution:2**
``` sql

select * from practice
where c1 = 'yellow'
union
select * from practice
where c2 = 'yellow'
union
select * from practice
where c3 = 'yellow';