``` sql
Create Table Dept
( Id int,Name Varchar(50));

Insert Into Dept Values(1,'hari@hdfc.com');
Insert Into Dept Values(2,'kumar@icici.com');
Insert Into Dept Values(3,'surya.k@kotak.com');
Insert Into Dept Values(4,'kalyan.h@axis.co.in');


SELECT * FROM Dept;

+------+---------------------+
| Id   | Name                |
+------+---------------------+
|    1 | hari@hdfc.com       |
|    2 | kumar@icici.com     |
|    3 | surya.k@kotak.com   |
|    4 | kalyan.h@axis.co.in |
+------+---------------------+

Write a sql query to get the name and orgname from email id in the below format
expected output:

+------+----------+---------+
| id   | ename    | orgname |
+------+----------+---------+
|    1 | hari     | hdfc    |
|    2 | kumar    | icici   |
|    3 | surya.k  | kotak   |
|    4 | kalyan.h | axis    |
+------+----------+---------+
```
### **Solution-1:**
``` sql
select id, ename, substring(domain, 1, locate('.',domain)-1) as orgname
FROM
(select id, substring(name,1, locate('@',name)-1) as ename,
substring(name, locate('@',name)+1) as domain
from Dept)a
```