``` sql
create table bankstatement(
    custid int,
    txndate date,
    status varchar(50),
    mode varchar(50),
    amount int);

insert into bankstatement values(101,CAST('20220425' AS DATE),'credit','Cash',800);
insert into bankstatement values(101,CAST('20220425' AS DATE),'credit','UPI',600);
insert into bankstatement values(101,CAST('20220428' AS DATE),'credit','UPI',200);
insert into bankstatement values(101,CAST('20220429' AS DATE),'debit','Credit Card',300);
insert into bankstatement values(102,CAST('20220315' AS DATE),'credit','UPI',1800);
insert into bankstatement values(102,CAST('20220320' AS DATE),'debit','UPI',200);
insert into bankstatement values(102,CAST('20220420' AS DATE),'debit','Credit Card',700);

select * from bankstatement;

+--------+------------+--------+-------------+--------+
| custid | txndate    | status | mode        | amount |
+--------+------------+--------+-------------+--------+
|    101 | 2022-04-25 | credit | Cash        |    800 |
|    101 | 2022-04-25 | credit | UPI         |    600 |
|    101 | 2022-04-28 | credit | UPI         |    200 |
|    101 | 2022-04-29 | debit  | Credit Card |    300 |
|    102 | 2022-03-15 | credit | UPI         |   1800 |
|    102 | 2022-03-20 | debit  | UPI         |    200 |
|    102 | 2022-04-20 | debit  | Credit Card |    700 |
+--------+------------+--------+-------------+--------+
```
Can you derive the running net balance for the given dataset while applying a special condition?

**ðŸ”¹ Condition:**

 Customers receive an instant cashback of 2% on every transaction where they spend money using a credit card.

**ðŸ“Š Question:**

 Write an SQL query to compute the cumulative running net balance for each customer, factoring in this cashback condition.

 **expected output:**
``` sql
 +--------+------------+--------+-------------+--------+-------------+
| custid | txndate    | status | mode        | amount | net_balance |
+--------+------------+--------+-------------+--------+-------------+
|    101 | 2022-04-25 | credit | Cash        |    800 |         800 |
|    101 | 2022-04-25 | credit | UPI         |    600 |        1400 |
|    101 | 2022-04-28 | credit | UPI         |    200 |        1600 |
|    101 | 2022-04-29 | debit  | Credit Card |    300 |        1306 |
|    102 | 2022-03-15 | credit | UPI         |   1800 |        1800 |
|    102 | 2022-03-20 | debit  | UPI         |    200 |        1600 |
|    102 | 2022-04-20 | debit  | Credit Card |    700 |         914 |
+--------+------------+--------+-------------+--------+-------------+
```

**Solution:**
``` sql
select *, 
sum(
round(
case 
when status = 'debit' and mode = 'Credit Card' then -amount * (100-2)/100 
when status = 'debit' then -amount
else amount end,0)
)
over(partition by custid order by txndate, mode asc)  as net_balance
from bankstatement;
```