``` sql
Table script:

create table world(
    country varchar(50),
    Region varchar(50),
    Population int,
    InternetUsers int);

insert into world values('Afganistan','Asia',40403518,9237489);
insert into world values('Albania','Europe',2872758,2191467);
insert into world values('Algeria','Africa',45150879,37836425);
insert into world values('Azerbaijan','Asia',10288594,8745304);
insert into world values('Brazil','America',215016658,446445);
insert into world values('British Virgin Islands','Asia',30558,20557);
insert into world values('Brunei Darussulam','Europe',444336,44339);
insert into world values('Bulgaria','Africa',6865308,5854207);
insert into world values('Burkina Faso','Africa',21863344,10752232);
insert into world values('Burundi','Africa',12487044,1134560);
insert into world values('Cabo Verde','Asia',565751,345651);
insert into world values('Cambodia','Africa',17101186,16232269);
insert into world values('Cameroon','America',27646656,1256458);
insert into world values('Canada','America',38281870,17171760);
insert into world values('Cayman Islands','Africa',66990,54550);
insert into world values('Central African Rep.','Africa',4967426,3232546);

select * from world;

+------------------------+---------+------------+---------------+
| country                | Region  | Population | InternetUsers |
+------------------------+---------+------------+---------------+
| Afganistan             | Asia    |   40403518 |       9237489 |
| Albania                | Europe  |    2872758 |       2191467 |
| Algeria                | Africa  |   45150879 |      37836425 |
| Azerbaijan             | Asia    |   10288594 |       8745304 |
| Brazil                 | America |  215016658 |        446445 |
| British Virgin Islands | Asia    |      30558 |         20557 |
| Brunei Darussulam      | Europe  |     444336 |         44339 |
| Bulgaria               | Africa  |    6865308 |       5854207 |
| Burkina Faso           | Africa  |   21863344 |      10752232 |
| Burundi                | Africa  |   12487044 |       1134560 |
| Cabo Verde             | Asia    |     565751 |        345651 |
| Cambodia               | Africa  |   17101186 |      16232269 |
| Cameroon               | America |   27646656 |       1256458 |
| Canada                 | America |   38281870 |      17171760 |
| Cayman Islands         | Africa  |      66990 |         54550 |
| Central African Rep.   | Africa  |    4967426 |       3232546 |
+------------------------+---------+------------+---------------+


Q. Write an SQL Query to find the country with the highest internet users in each region.

expected output:

+---------+------------+---------------+
| region  | country    | InternetUsers |
+---------+------------+---------------+
| Africa  | Algeria    |      37836425 |
| America | Canada     |      17171760 |
| Asia    | Afganistan |       9237489 |
| Europe  | Albania    |       2191467 |
+---------+------------+---------------+

### **Solution-1**
``` sql
select * from world
where(region, InternetUsers) in (
select region, max(InternetUsers) as InternetUsers
from world
group by region);
```

### **Solution-2**
``` sql
select region, country,InternetUsers
from(
select *, rank()over(partition by region order by InternetUsers desc) as rn
from world)a
where rn=1;
```