``` sql
Table Script: 
create table input(
    productid int,
    price int,
    country varchar(50));

insert into input values(1,100,'INDIA');
insert into input values(1,50,'INDIA');
insert into input values(2,110,'US');
insert into input values(2,100,'CHINA');

select * from input;

+-----------+-------+---------+
| productid | price | country |
+-----------+-------+---------+
|         1 |   100 | INDIA   |
|         1 |    50 | INDIA   |
|         2 |   110 | US      |
|         2 |   100 | CHINA   |
+-----------+-------+---------+

Q. Write an SQL query to get the below output.

expected output:

+-----------+-------+------+-------+
| productid | INDIA | US   | CHINA |
+-----------+-------+------+-------+
|         1 |   150 |    0 |     0 |
|         2 |     0 |  110 |   100 |
+-----------+-------+------+-------+

### **Solution-1:**
``` sql
select 
productid,
sum(case when country='INDIA' then price else 0 end) as INDIA,
sum(case when country='US' then price else 0 end) as US,
sum(case when country='CHINA' then price else 0 end) as CHINA
from input
group by productid;