``` sql
CREATE TABLE COUNTRY(
    NAME VARCHAR(100));

INSERT INTO COUNTRY VALUES('INDIA');
INSERT INTO COUNTRY VALUES('CHINA');
INSERT INTO COUNTRY VALUES('PAKISTAN');
INSERT INTO COUNTRY VALUES('SRI LANKA');
INSERT INTO COUNTRY VALUES('AFGHANISTAN');
INSERT INTO COUNTRY VALUES('UNITED KINGDOM');
INSERT INTO COUNTRY VALUES('RUSSIA');
INSERT INTO COUNTRY VALUES('NEW ZEALAND');
INSERT INTO COUNTRY VALUES(null);

select * from COUNTRY;

+----------------+
| NAME           |
+----------------+
| INDIA          |
| CHINA          |
| PAKISTAN       |
| SRI LANKA      |
| AFGHANISTAN    |
| UNITED KINGDOM |
| RUSSIA         |
| NEW ZEALAND    |
| NULL           |
+----------------+

Question: Write an SQL query to sort the country names in ascending order with countries having spaces in between displayed at the top.

Expected Output:

+----------------+
| name           |
+----------------+
| NEW ZEALAND    |
| SRI LANKA      |
| UNITED KINGDOM |
| AFGHANISTAN    |
| CHINA          |
| INDIA          |
| PAKISTAN       |
| RUSSIA         |
| NULL           |
+----------------+
```
----

#### **Solution-1:**
``` sql
select name from COUNTRY
order by (length(name) - length(REPLACE(name,' ',''))) desc, name asc;
```
---