``` sql
Table Script:

Create Table Dept
( Id int,Name Varchar(5));

Insert Into Dept Values(1,'A');
Insert Into Dept Values(2,'B');
Insert Into Dept Values(3,'C');
Insert Into Dept Values(4,'D');
Insert Into Dept Values(5,'E');
Insert Into Dept Values(6,'F');

SELECT * FROM Dept;

+------+------+
| Id   | Name |
+------+------+
|    1 | A    |
|    2 | B    |
|    3 | C    |
|    4 | D    |
|    5 | E    |
|    6 | F    |
+------+------+

Q. Write an SQL query to fetch last 3 records from a table without using TOP or LIMIT keywords.

Expected Output

+------+------+
| Id   | Name |
+------+------+
|    6 | F    |
|    5 | E    |
|    4 | D    |
+------+------+

### **Solution-1:**
``` sql
SELECT
    Id,
    Name
FROM (
    SELECT
        d1.Id,
        d1.Name,
        (SELECT COUNT(*) FROM Dept d2 WHERE d1.Name <= d2.Name) AS cnt
    FROM
        Dept d1
) AS RankedData
WHERE
    cnt <= 3
    order by id desc;
```


### **Solution-2:**
``` sql
WITH RankedRecords AS (
    SELECT
        Id,
        Name,
        ROW_NUMBER() OVER (ORDER BY Id DESC) AS rn
    FROM
        Dept
)
SELECT
    Id,
    Name
FROM
    RankedRecords
WHERE
    rn <= 3;