``` sql
Q. Write an SQL query to sort the result in alternate order of Gender.

Table Script:
create table emp(
    id int,
    name varchar(10),
    Gender varchar(10)
    );
    
insert into emp values(1,'A','MALE');
insert into emp values(2,'B','MALE');
insert into emp values(3,'C','MALE');
insert into emp values(4,'D','FEMALE');
insert into emp values(5,'E','FEMALE');

Exp. Output
ID NAME GENDER
1 A MALE
4 D FEMALE
2 B MALE
5 E FEMALE
3 C MALE

``` sql
select * from emp;

+------+------+--------+
| id   | name | Gender |
+------+------+--------+
|    1 | A    | MALE   |
|    2 | B    | MALE   |
|    3 | C    | MALE   |
|    4 | D    | FEMALE |
|    5 | E    | FEMALE |
+------+------+--------+

Q. Write an SQL query to sort the result in alternate order of Gender.

expected output:

+------+------+--------+
| id   | name | Gender |
+------+------+--------+
|    1 | A    | MALE   |
|    4 | D    | FEMALE |
|    2 | B    | MALE   |
|    5 | E    | FEMALE |
|    3 | C    | MALE   |
+------+------+--------+

**Solution:**
``` sql
select id, name, Gender
from(
select *, row_number() over(partition by Gender order by id) as row_num
from emp)a
order by row_num,id