``` sql
CREATE TABLE ab_test (
    user_id INT,
    variant CHAR(1),
    converted INT
);
INSERT INTO ab_test (user_id, variant, converted) VALUES
(1, 'A', 1),
(2, 'A', 0),
(3, 'A', 1),
(4, 'A', 0),
(5, 'B', 1),
(6, 'B', 1),
(7, 'B', 1),
(8, 'B', 0);


select * from ab_test;

+---------+---------+-----------+
| user_id | variant | converted |
+---------+---------+-----------+
|       1 | A       |         1 |
|       2 | A       |         0 |
|       3 | A       |         1 |
|       4 | A       |         0 |
|       5 | B       |         1 |
|       6 | B       |         1 |
|       7 | B       |         1 |
|       8 | B       |         0 |
+---------+---------+-----------+

Question:

You are given A/B testing dataset. Each row represents a user's interaction: whether they were shown a variant and whether they converted.

your task: calculate the conversion rate(probability) for each variant A and B , and list of users who had a higher probality of converting based on the variant compared to overall average conversion rate
```
Expected Output:
``` sql
+---------+---------+-------------------------+-------------------------+
| user_id | variant | variant_convertion_rate | overall_convertion_rate |
+---------+---------+-------------------------+-------------------------+
|       5 | B       |                  0.7500 |                  0.6250 |
|       6 | B       |                  0.7500 |                  0.6250 |
|       7 | B       |                  0.7500 |                  0.6250 |
|       8 | B       |                  0.7500 |                  0.6250 |
+---------+---------+-------------------------+-------------------------+
```
---

#### **Solution-1:**
``` sql
select * 
from
(
select user_id, variant, 
sum(converted) over(partition by variant)/ count(*) over(partition by variant) as variant_convertion_rate,
sum(converted) over()/ count(*) over() as overall_convertion_rate
from ab_test
)a
where variant_convertion_rate > overall_convertion_rate;
```