``` sql
CREATE TABLE tableA (
Balance INT,
dates date
);


INSERT INTO tableA (Balance, dates) VALUES
(26000, '2020-01-01'),
(26000, '2020-01-02'),
(26000, '2020-01-03'),
(30000, '2020-01-04'),
(30000, '2020-01-05'),
(26000, '2020-01-06'),
(26000, '2020-01-07'),
(32000, '2020-01-08'),
(31000, '2020-01-09');

select * from tableA;

+---------+------------+
| Balance | dates      |
+---------+------------+
|   26000 | 2020-01-01 |
|   26000 | 2020-01-02 |
|   26000 | 2020-01-03 |
|   30000 | 2020-01-04 |
|   30000 | 2020-01-05 |
|   26000 | 2020-01-06 |
|   26000 | 2020-01-07 |
|   32000 | 2020-01-08 |
|   31000 | 2020-01-09 |
+---------+------------+

expected output:

+---------+------------+------------+
| Balance | start_date | end_date   |
+---------+------------+------------+
|   26000 | 2020-01-01 | 2020-01-03 |
|   30000 | 2020-01-04 | 2020-01-05 |
|   26000 | 2020-01-06 | 2020-01-07 |
|   32000 | 2020-01-08 | 2020-01-08 |
|   31000 | 2020-01-09 | 2020-01-09 |
+---------+------------+------------+

**Solution:**

``` sql
select 
Balance, min(dates) as start_date, max(dates) as end_date
from
(
select 
Balance, dates,
sum(case when Balance =  next_balance then 0 else 1 end) over(order by dates) as grp
from
(
select *, lag(Balance,1, Balance) over(order by dates) as next_balance
from tableA
) a
) b
group by Balance,grp;