``` sql

Q. Three friends David,Abraham and Abdul drove car from Delhi to Ladakh.

They have covered the entire journey in 12 days.

David drove the car till day4,Abraham drove the car from day6 till day8 and Abdul covered the remaining journey.

They have taken rest on day5 and day9.

Write an SQL query to find the total distance covered by each friend in their respective order.

Table Script:
create table journey(daycount int,distancecovered int);
insert into journey values('1',20);
insert into journey values('2',40);
insert into journey values('3',90);
insert into journey values('4',30);
insert into journey values('5',0);
insert into journey values('6',90);
insert into journey values('7',40);
insert into journey values('8',10);
insert into journey values('9',0);
insert into journey values('10',40);
insert into journey values('11',10);
insert into journey values('12',0);

Output:
TotalDistance
180
140
50

``` sql
select * from journey;

+----------+-----------------+
| daycount | distancecovered |
+----------+-----------------+
|        1 |              20 |
|        2 |              40 |
|        3 |              90 |
|        4 |              30 |
|        5 |               0 |
|        6 |              90 |
|        7 |              40 |
|        8 |              10 |
|        9 |               0 |
|       10 |              40 |
|       11 |              10 |
|       12 |               0 |
+----------+-----------------+

expected output:

+----------------+
| total_distance |
+----------------+
|            180 |
|            140 |
|             50 |
+----------------+

**Solution:**
``` sql
select sum(distancecovered) as total_distance
from
(
select 
distancecovered,
(daycount - row_number() over(order by daycount))  as grp
from journey
where distancecovered <> 0
)a
group by grp