``` sql
 CREATE TABLE NUM (
    SN INT,
    NUMB INT
);
INSERT INTO NUM (SN, NUMB) VALUES
(1, 4),
(2, 7),
(3, 4),
(4, 9),
(5, 9),
(6, 7),
(7, 9),
(8, 4);


select * from num;

+------+------+
| SN   | NUMB |
+------+------+
|    1 |    4 |
|    2 |    7 |
|    3 |    4 |
|    4 |    9 |
|    5 |    9 |
|    6 |    7 |
|    7 |    9 |
|    8 |    4 |
+------+------+

Question:

you are given a table named NUM with two columns --> SN representing the serial number, and NUMB the numeric value

Find all unique values in NUMB that form a 'sandwich pattern'. In other words, the same value should at rows i and i+2, while the row in between that is , i+1 should contain a different value.

NUMB at SN = i --> X
NUMB at SN = i+1 --> not X
NUMB at SN = i+2 --> X

expected output:

+------+
| numb |
+------+
|    4 |
|    9 |
+------+

```
----

#### **Solution-1:**
``` sql
select n1.numb
from num n1
join num n2
on n1.sn = n2.sn-1 and n1.NUMB <> n2.NUMB 
join num n3
on n1.sn = n3.sn-2 and n1.NUMB = n3.NUMB;
```
---
#### **Solution-1:**
``` sql
with cte as
(
select *,
lead(numb,1) over (order by sn asc) lead_1,
lead(numb,2) over (order by sn asc) lead_2
from num)
select numb from cte
where numb=lead_2 and numb!=lead_1;
```
----