``` sql
create table icc_world_cup
(
Team_1 Varchar(20),
Team_2 Varchar(20),
Winner Varchar(20)
);
INSERT INTO icc_world_cup values('India','SL','India');
INSERT INTO icc_world_cup values('SL','Aus','Aus');
INSERT INTO icc_world_cup values('SA','Eng','Eng');
INSERT INTO icc_world_cup values('Eng','NZ','NZ');
INSERT INTO icc_world_cup values('Aus','India','India');

select * from icc_world_cup;

+--------+--------+--------+
| Team_1 | Team_2 | Winner |
+--------+--------+--------+
| India  | SL     | India  |
| SL     | Aus    | Aus    |
| SA     | Eng    | Eng    |
| Eng    | NZ     | NZ     |
| Aus    | India  | India  |
+--------+--------+--------+

expected output:

+-------+----------------+------------+--------------+
| team  | matches_played | no_of_wins | no_of_losses |
+-------+----------------+------------+--------------+
| India |              2 |          2 |            0 |
| SL    |              2 |          0 |            2 |
| SA    |              1 |          0 |            1 |
| Eng   |              2 |          1 |            1 |
| Aus   |              2 |          1 |            1 |
| NZ    |              1 |          1 |            0 |
+-------+----------------+------------+--------------+

**Solution:**
``` sql

SELECT TEAM,
	COUNT(*) AS MATCHES_PLAYED,
	SUM(WINNING_FLAG) AS NO_OF_WINS,
	(COUNT(*) - SUM(WINNING_FLAG)) AS NO_OF_LOSSES
FROM
	(SELECT TEAM_1 AS TEAM,
			CASE WHEN TEAM_1 = WINNER THEN 1  ELSE 0 END AS WINNING_FLAG
		FROM ICC_WORLD_CUP
	 UNION ALL 
	 SELECT TEAM_2 AS TEAM,
			CASE WHEN TEAM_2 = WINNER THEN 1 ELSE 0 END AS WINNING_FLAG
		FROM ICC_WORLD_CUP
    ) A
GROUP BY TEAM
ORDER BY NO_OF_WINS DESC;