``` sql
CREATE TABLE Student(
    Id INT,
    StudentName VARCHAR (50),
    Math INT,
    English INT,
    History INT,
    Science INT);

INSERT INTO Student VALUES (1,'Ashok', 78, 85, 91, 76 );
INSERT INTO Student VALUES (2,'Raj', 87, 90, 82, 87);
INSERT INTO Student VALUES (3,'Yusuf',95,80,65,77);

select * from Student;

+------+-------------+------+---------+---------+---------+
| Id   | StudentName | Math | English | History | Science |
+------+-------------+------+---------+---------+---------+
|    1 | Ashok       |   78 |      85 |      91 |      76 |
|    2 | Raj         |   87 |      90 |      82 |      87 |
|    3 | Yusuf       |   95 |      80 |      65 |      77 |
+------+-------------+------+---------+---------+---------+

expected output:

+-------------+-------------+
| StudentName | total_marks |
+-------------+-------------+
| Ashok       |         330 |
| Raj         |         346 |
| Yusuf       |         317 |
+-------------+-------------+

**Solution:**
``` sql
select StudentName, sum(marks) as total_marks
from(
select StudentName, Math as marks from Student
union all
select StudentName, English as marks from Student
union all
select StudentName, History as marks from Student
union all
select StudentName, Science as marks from Student) a
group by StudentName;
```
**Solution-2:**

``` sql
select StudentName, (Math + English + History + Science) as total_marks
from Student;