# **1204. Last Person to Fit in the Bus**

**Table: Queue**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| person_id   | int     |
| person_name | varchar |
| weight      | int     |
| turn        | int     |
+-------------+---------+
```
person_id column contains unique values.
This table has the information about all people waiting for a bus.
The person_id and turn columns will contain all numbers from 1 to n, where n is the number of rows in the table.
turn determines the order of which the people will board the bus, where turn=1 denotes the first person to board and turn=n denotes the last person to board.
weight is the weight of the person in kilograms.
 

There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

Note that only one person can board the bus at any given turn.

The result format is in the following example.

 
**Example 1:**

**Input:** 
**Queue table:**
``` console
+-----------+-------------+--------+------+
| person_id | person_name | weight | turn |
+-----------+-------------+--------+------+
| 5         | Alice       | 250    | 1    |
| 4         | Bob         | 175    | 5    |
| 3         | Alex        | 350    | 2    |
| 6         | John Cena   | 400    | 3    |
| 1         | Winston     | 500    | 6    |
| 2         | Marie       | 200    | 4    |
+-----------+-------------+--------+------+
```
**Output:** 
``` console
+-------------+
| person_name |
+-------------+
| John Cena   |
+-------------+
```
**Explanation:** The folowing table is ordered by the turn for simplicity.
``` console
+------+----+-----------+--------+--------------+
| Turn | ID | Name      | Weight | Total Weight |
+------+----+-----------+--------+--------------+
| 1    | 5  | Alice     | 250    | 250          |
| 2    | 3  | Alex      | 350    | 600          |
| 3    | 6  | John Cena | 400    | 1000         | (last person to board)
| 4    | 2  | Marie     | 200    | 1200         | (cannot board)
| 5    | 4  | Bob       | 175    | ___          |
| 6    | 1  | Winston   | 500    | ___          |
+------+----+-----------+--------+--------------+
```

**Solutions:**

In [ ]:
SELECT a.person_name
FROM(
    SELECT person_name, SUM(weight) OVER(ORDER BY turn ASC) as Total_Weight
    FROM Queue
)a
WHERE a.Total_Weight <= 1000
ORDER By a.Total_Weight DESC
LIMIT 1

In [ ]:
SELECT 
    q1.person_name
FROM Queue q1 JOIN Queue q2 ON q1.turn >= q2.turn
GROUP BY q1.turn
HAVING SUM(q2.weight) <= 1000
ORDER BY SUM(q2.weight) DESC
LIMIT 1

In [ ]:
SELECT person_name
FROM Queue q1
WHERE 1000 >= (
        SELECT SUM(weight)
        FROM Queue q2
        WHERE q2.turn <= q1.turn
    )
ORDER BY turn DESC
LIMIT 1;

In [ ]:
with recursive cte as(
    select person_name,turn,weight as total
    from queue
    where turn=1
    union all
    select q.person_name,q.turn,q.weight+cte.total as total
    from queue q
    join cte on cte.turn+1=q.turn
    where cte.total+q.weight<=1000
)
select person_name from cte order by total desc limit 1