# **1613. Find the Missing IDs**
``` console
Table: Customers

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| customer_id   | int     |
| customer_name | varchar |
+---------------+---------+
customer_id is the column with unique values for this table.
Each row of this table contains the name and the id customer.
 

Write a solution to find the missing customer IDs. The missing IDs are ones that are not in the Customers table but are in the range between 1 and the maximum customer_id present in the table.

Notice that the maximum customer_id will not exceed 100.

Return the result table ordered by ids in ascending order.

The result format is in the following example.

 

Example 1:

Input: 
Customers table:
+-------------+---------------+
| customer_id | customer_name |
+-------------+---------------+
| 1           | Alice         |
| 4           | Bob           |
| 5           | Charlie       |
+-------------+---------------+

Output: 
+-----+
| ids |
+-----+
| 2   |
| 3   |
+-----+

Explanation: 
The maximum customer_id present in the table is 5, so in the range [1,5], IDs 2 and 3 are missing from the table.
```

**Solution-1:**

``` sql
# Write your MySQL query statement below

with recursive cte AS(
    SELECT 
    1 AS customer_id
    UNION
    SELECT 
    customer_id + 1 
    FROM cte
    WHERE  customer_id < (SELECT max(customer_id) FROM customers) AND customer_id<=100
)
SELECT customer_id as ids
FROM cte 
WHERE customer_id NOT IN (SELECT customer_id FROM Customers)

**Solution-1:**

``` sql
-- Write your PostgreSQL query statement below

select generate_series(1, max(customer_id)) ids
from customers
except 
select customer_id
from customers
order by ids

**Solution-3:**

``` sql
-- Write your PostgreSQL query statement below

select generate_series(1, case when max(customer_id) > 100 then 100 else max(customer_id) END) ids
from customers
except 
select customer_id
from customers
order by ids