# **2228. Users With Two Purchases Within Seven Days**

**Table: Purchases**
``` console
+---------------+------+
| Column Name   | Type |
+---------------+------+
| purchase_id   | int  |
| user_id       | int  |
| purchase_date | date |
+---------------+------+
```
purchase_id contains unique values.
This table contains logs of the dates that users purchased from a certain retailer.
 

Write a solution to report the IDs of the users that made any two purchases at most 7 days apart.

Return the result table ordered by user_id.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Purchases table:**
``` console
+-------------+---------+---------------+
| purchase_id | user_id | purchase_date |
+-------------+---------+---------------+
| 4           | 2       | 2022-03-13    |
| 1           | 5       | 2022-02-11    |
| 3           | 7       | 2022-06-19    |
| 6           | 2       | 2022-03-20    |
| 5           | 7       | 2022-06-19    |
| 2           | 2       | 2022-06-08    |
+-------------+---------+---------------+
```
**Output:** 
``` console
+---------+
| user_id |
+---------+
| 2       |
| 7       |
+---------+
```
**Explanation:** 

- User 2 had two purchases on 2022-03-13 and 2022-03-20. Since the second purchase is within 7 days of the first purchase, we add their ID.
- User 5 had only 1 purchase.
- User 7 had two purchases on the same day so we add their ID.

**Solution-1:**

``` sql
# Write your MySQL query statement below
SELECT DISTINCT user_id
FROM
(SELECT p1.user_id, p1.purchase_date,
DATEDIFF(LEAD(p1.purchase_date)OVER(PARTITION BY p1.user_id ORDER BY p1.purchase_date), p1.purchase_date) as diff
FROM purchases p1)a
WHERE diff BETWEEN 0 AND 7

**Solution-2:**

``` sql
# Write your MySQL query statement below

SELECT DISTINCT p1.user_id
FROM purchases p1
JOIN purchases p2
ON p1.user_id = p2.user_id AND p1.purchase_id <> p2.purchase_id
WHERE DATEDIFF(p2.purchase_date,p1.purchase_date) BETWEEN 0 AND  7
ORDER BY p1.user_id;