# **2238. Number of Times a Driver Was a Passenger**

**Table: Rides**
``` console
+--------------+------+
| Column Name  | Type |
+--------------+------+
| ride_id      | int  |
| driver_id    | int  |
| passenger_id | int  |
+--------------+------+
```
ride_id is the column with unique values for this table.
Each row of this table contains the ID of the driver and the ID of the passenger that rode in ride_id.
Note that driver_id != passenger_id.
 

Write a solution to report the ID of each driver and the number of times they were a passenger.

Return the result table in any order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Rides table:**
``` console
+---------+-----------+--------------+
| ride_id | driver_id | passenger_id |
+---------+-----------+--------------+
| 1       | 7         | 1            |
| 2       | 7         | 2            |
| 3       | 11        | 1            |
| 4       | 11        | 7            |
| 5       | 11        | 7            |
| 6       | 11        | 3            |
+---------+-----------+--------------+
```
**Output:**
``` console
+-----------+-----+
| driver_id | cnt |
+-----------+-----+
| 7         | 2   |
| 11        | 0   |
+-----------+-----+
```
**Explanation:**

There are two drivers in all the given rides: 7 and 11.

The driver with ID = 7 was a passenger two times.

The driver with ID = 11 was never a passenger.

**Solution-1:**

``` sql
SELECT a.driver_id, COUNT(b.passenger_id) as cnt
FROM (SELECT DISTINCT driver_id FROM Rides) a
LEFT JOIN rides b
ON b.passenger_id = a.driver_id
GROUP BY a.driver_id

**solution-2:**

``` sql
select a.driver_id, count(distinct b.ride_id) as cnt
from Rides a 
left join Rides b 
on a.driver_id = b.passenger_id
group by a.driver_id