# **2783. Flight Occupancy and Waitlist Analysis**

**Table: Flights**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| flight_id   | int  |
| capacity    | int  |
+-------------+------+
```
flight_id is the column with unique values for this table.

Each row of this table contains flight id and its capacity.
**Table: Passengers**
``` console
+--------------+------+
| Column Name  | Type |
+--------------+------+
| passenger_id | int  |
| flight_id    | int  |
+--------------+------+
```
passenger_id is the column with unique values for this table.

Each row of this table contains passenger id and flight id.

Passengers book tickets for flights in advance. If a passenger books a ticket for a flight and there are still empty seats available on the flight, the passenger ticket will be confirmed. However, the passenger will be on a waitlist if the flight is already at full capacity.

Write a solution to report the number of passengers who successfully booked a flight (got a seat) and the number of passengers who are on the waitlist for each flight.

Return the result table ordered by flight_id in ascending order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Flights table:**
``` console
+-----------+----------+
| flight_id | capacity |
+-----------+----------+
| 1         | 2        |
| 2         | 2        |
| 3         | 1        |
+-----------+----------+
```
**Passengers table:**
``` console
+--------------+-----------+
| passenger_id | flight_id |
+--------------+-----------+
| 101          | 1         |
| 102          | 1         |
| 103          | 1         |
| 104          | 2         |
| 105          | 2         |
| 106          | 3         |
| 107          | 3         |
+--------------+-----------+
```
**Output:** 
``` console
+-----------+------------+--------------+
| flight_id | booked_cnt | waitlist_cnt |
+-----------+------------+--------------+
| 1         | 2          | 1            |
| 2         | 2          | 0            |
| 3         | 1          | 1            |
+-----------+------------+--------------+
```
**Explanation:** 
- Flight 1 has a capacity of 2. As there are 3 passengers who have booked tickets, only 2 passengers can get a seat. Therefore, 2 passengers are successfully booked, and 1 passenger is on the waitlist.
- Flight 2 has a capacity of 2. Since there are exactly 2 passengers who booked tickets, everyone can secure a seat. As a result, 2 passengers successfully booked their seats and there are no passengers on the waitlist.
- Flight 3 has a capacity of 1. As there are 2 passengers who have booked tickets, only 1 passenger can get a seat. Therefore, 1 passenger is successfully booked, and 1 passenger is on the waitlist.

**Solution-1:**

``` sql
# Write your MySQL query statement below

SELECT flight_id,
COALESCE(CASE WHEN capacity <= passenger_cnt THEN capacity ELSE passenger_cnt END,0) AS booked_cnt,
CASE WHEN capacity <= passenger_cnt THEN (passenger_cnt - capacity) ELSE 0 END AS waitlist_cnt
FROM Flights 
LEFT JOIN (SELECT flight_id, COUNT(*) as passenger_cnt FROM Passengers GROUP BY flight_id) a
USING (flight_id)
ORDER BY flight_id ASC

**Solution-2:**

``` sql
# Write your MySQL query statement below

SELECT flight_id, 
       LEAST(COUNT(passenger_id), capacity) AS booked_cnt,
       GREATEST(0, COUNT(passenger_id) - capacity) AS waitlist_cnt
FROM Flights f
LEFT JOIN Passengers p USING (flight_id)
GROUP BY flight_id
ORDER BY flight_id

**Solution-3:**

``` sql
SELECT flight_id, 
       IF(COUNT(passenger_id)< capacity, COUNT(passenger_id), capacity) AS booked_cnt,
       IF(COUNT(passenger_id)< capacity, 0, COUNT(passenger_id) - capacity) AS waitlist_cnt
FROM Flights f
LEFT JOIN Passengers p USING (flight_id)
GROUP BY flight_id
ORDER BY flight_id

**Solution-4:**

``` sql
# Write your MySQL query statement below

select f.flight_id, LEAST(f.capacity, count(p.flight_id)) as booked_cnt, 
if (count(p.flight_id) > f.capacity, count(p.flight_id)-f.capacity, 0) as waitlist_cnt
from Flights f
left join Passengers p on p.flight_id = f.flight_id
group by f.flight_id
order by f.flight_id