# **603. Consecutive Available Seats**

**Table: Cinema**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| seat_id     | int  |
| free        | bool |
+-------------+------+
```

seat_id is an auto-increment column for this table.
Each row of this table indicates whether the ith seat is free or not. 1 means free while 0 means occupied.
 

Find all the consecutive available seats in the cinema.

Return the result table ordered by seat_id in ascending order.

The test cases are generated so that more than two seats are consecutively available.

The result format is in the following example.

**Example 1:**

Input: 
**Cinema table:**
```Console
+---------+------+
| seat_id | free |
+---------+------+
| 1       | 1    |
| 2       | 0    |
| 3       | 1    |
| 4       | 1    |
| 5       | 1    |
+---------+------+
```

**Output:**
``` console
+---------+
| seat_id |
+---------+
| 3       |
| 4       |
| 5       |
+---------+
```

**Solution 1:**

``` sql
SELECT 
DISTINCT c1.seat_id
FROM cinema c1
INNER JOIN cinema c2
ON abs(c1. seat_id - c2.seat_id) = 1 AND c1.free = 1 AND c2.free = 1
ORDER BY c1.seat_id;

**Solution 2:**

``` sql
SELECT seat_id
FROM (
SELECT seat_id,
free,
LEAD(free,1) OVER (ORDER BY seat_id) AS next_seat,
LAG(free,1) OVER (ORDER BY seat_id) AS pre_seat
FROM Cinema) a
WHERE free+next_seat=2 OR free+pre_seat=2

``` sql
SELECT seat_id
FROM (
SELECT seat_id,
free,
LEAD(free,1) OVER (ORDER BY seat_id) AS next_seat,
LAG(free,1) OVER (ORDER BY seat_id) AS pre_seat
FROM Cinema) a
WHERE (free = next_seat) OR (free = pre_seat)