# **1083. Sales Analysis II**

**Table: Product**
``` console
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| product_id   | int     |
| product_name | varchar |
| unit_price   | int     |
+--------------+---------+
```
product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the name and the price of each product.
**Table: Sales**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| seller_id   | int     |
| product_id  | int     |
| buyer_id    | int     |
| sale_date   | date    |
| quantity    | int     |
| price       | int     |
+-------------+---------+
```
This table might have repeated rows.
product_id is a foreign key (reference column) to the Product table.
buyer_id is never NULL. 
sale_date is never NULL. 
Each row of this table contains some information about one sale.
 

Write a solution to report the buyers who have bought S8 but not iPhone. Note that S8 and iPhone are products presented in the Product table.

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:**
**Product table:**
``` console
+------------+--------------+------------+
| product_id | product_name | unit_price |
+------------+--------------+------------+
| 1          | S8           | 1000       |
| 2          | G4           | 800        |
| 3          | iPhone       | 1400       |
+------------+--------------+------------+
```
**Sales table:**
``` console
+-----------+------------+----------+------------+----------+-------+
| seller_id | product_id | buyer_id | sale_date  | quantity | price |
+-----------+------------+----------+------------+----------+-------+
| 1         | 1          | 1        | 2019-01-21 | 2        | 2000  |
| 1         | 2          | 2        | 2019-02-17 | 1        | 800   |
| 2         | 1          | 3        | 2019-06-02 | 1        | 800   |
| 3         | 3          | 3        | 2019-05-13 | 2        | 2800  |
+-----------+------------+----------+------------+----------+-------+
```
**Output:**
``` console
+-------------+
| buyer_id    |
+-------------+
| 1           |
+-------------+
```

**Explanation:**
The buyer with id 1 bought an S8 but did not buy an iPhone. The buyer with id 3 bought both.

**Solution 1:**

``` sql
SELECT DISTINCT s.buyer_id FROM sales s
INNER JOIN product p
ON s.product_id = p.product_id and p.product_name = 'S8'
where s.buyer_id not in
(SELECT
DISTINCT s.buyer_id
FROM Sales S
INNER JOIN product p
ON s.product_id = p.product_id
WHERE p.product_name = 'iPhone')

**Solution 2:**

``` sql
SELECT s.buyer_id
FROM Sales AS s INNER JOIN Product AS p
ON s.product_id = p.product_id
GROUP BY s.buyer_id
HAVING SUM(CASE WHEN p.product_name = 'S8' THEN 1 ELSE 0 END) > 0
AND SUM(CASE WHEN p.product_name = 'iPhone' THEN 1 ELSE 0 END) = 0;

**Solution 3:**

``` sql
SELECT buyer_id 
FROM Sales s 
JOIN Product p 
ON s.product_id = p.product_id
GROUP BY buyer_id
HAVING SUM(product_name='S8') > 0 AND SUM(product_name='iPhone') = 0