# **1179. Reformat Department Table**
``` console
Table: Department

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| revenue     | int     |
| month       | varchar |
+-------------+---------+

In SQL,(id, month) is the primary key of this table.
The table has information about the revenue of each department per month.
The month has values in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"].
 

Reformat the table such that there is a department id column and a revenue column for each month.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Department table:
+------+---------+-------+
| id   | revenue | month |
+------+---------+-------+
| 1    | 8000    | Jan   |
| 2    | 9000    | Jan   |
| 3    | 10000   | Feb   |
| 1    | 7000    | Feb   |
| 1    | 6000    | Mar   |
+------+---------+-------+

Output: 
+------+-------------+-------------+-------------+-----+-------------+
| id   | Jan_Revenue | Feb_Revenue | Mar_Revenue | ... | Dec_Revenue |
+------+-------------+-------------+-------------+-----+-------------+
| 1    | 8000        | 7000        | 6000        | ... | null        |
| 2    | 9000        | null        | null        | ... | null        |
| 3    | null        | 10000       | null        | ... | null        |
+------+-------------+-------------+-------------+-----+-------------+

Explanation: The revenue from Apr to Dec is null.
Note that the result table has 13 columns (1 for the department id + 12 for the months).

```

**Solution-1:**

``` sql []
SELECT
id,
MAX(CASE WHEN month = 'Jan' THEN Revenue ELSE null END) AS Jan_Revenue,
MAX(CASE WHEN month = 'Feb' THEN Revenue ELSE null END) AS Feb_Revenue,
MAX(CASE WHEN month = 'Mar' THEN Revenue ELSE null END) AS Mar_Revenue,
MAX(CASE WHEN month = 'Apr' THEN Revenue ELSE null END) AS Apr_Revenue,
MAX(CASE WHEN month = 'May' THEN Revenue ELSE null END) AS May_Revenue,
MAX(CASE WHEN month = 'Jun' THEN Revenue ELSE null END) AS Jun_Revenue,
MAX(CASE WHEN month = 'Jul' THEN Revenue ELSE null END) AS Jul_Revenue,
MAX(CASE WHEN month = 'Aug' THEN Revenue ELSE null END) AS Aug_Revenue,
MAX(CASE WHEN month = 'Sep' THEN Revenue ELSE null END) AS Sep_Revenue,
MAX(CASE WHEN month = 'Oct' THEN Revenue ELSE null END) AS Oct_Revenue,
MAX(CASE WHEN month = 'Nov' THEN Revenue ELSE null END) AS Nov_Revenue,
MAX(CASE WHEN month = 'Dec' THEN Revenue ELSE null END) AS Dec_Revenue
FROM Department
GROUP BY id
```