# **176. Second Highest Salary**

**Table: Employee**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

**Example 1:**

**Input:**
**Employee table:**
``` console
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
**Output:**
``` console 
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
```
**Example 2:**

**Input:** 
**Employee table:**
``` console
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
**Output:** 
``` console
+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+
```

**Solution 1:**

In [ ]:
SELECT MAX(salary) AS SecondHighestSalary 
FROM Employee
WHERE salary < (SELECT MAX(salary) FROM Employee)

**Solution 2**

In [ ]:
select coalesce(
    (select distinct salary from employee
        order by salary desc limit 1, 1), null) as SecondHighestSalary;

**Solution 3**

In [ ]:
SELECT
    IFNULL(
      (SELECT DISTINCT Salary
       FROM Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1),
    NULL) AS SecondHighestSalary