# **177. Nth Highest Salary**

**Table: Employee**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

The result format is in the following example.


**Example 1:**

**Input:** 
**Employee table:**
``` console
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
n = 2
**Output:** 
``` console
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
```
**Example 2:**

**Input:** 
**Employee table:**
``` console
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
n = 2
**Output:** 
``` console
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+
```

**Solutions:**

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  RETURN (
     # Write your MySQL query statement below.
SELECT MAX(a.salary )
FROM(SELECT salary , DENSE_RANK() OVER(ORDER BY salary  DESC) as rnk
        FROM Employee ) a
WHERE a.rnk = N
  );
END

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
SET N = N-1;
  RETURN (
      SELECT DISTINCT(salary) FROM Employee ORDER BY salary DESC
      LIMIT 1 OFFSET N
      
  );
END