# **180. Consecutive Numbers**

**Table: Logs**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| num         | varchar |
+-------------+---------+
```
In SQL, id is the primary key for this table.
id is an autoincrement column starting from 1.
 

Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 
**Logs table:**
``` console
+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |
+----+-----+
```
**Output:** 
``` console
+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+
```
**Explanation:** 1 is the only number that appears consecutively for at least three times.

**Solution 1:**

``` sql
SELECT DISTINCT a.num AS ConsecutiveNums 
FROM logs a
INNER JOIN logs b
ON a.id = b.id - 1 AND a.num = b.num
INNER JOIN logs c
ON a.id = c.id - 2 AND a.num = c.num

**Solution-2:**

``` sql
SELECT DISTINCT l1.num AS ConsecutiveNums
FROM Logs l1
JOIN Logs l2 ON l1.id = l2.id - 1
JOIN Logs l3 ON l1.id = l3.id - 2
WHERE l1.num = l2.num AND l2.num = l3.num;

**Solution 3:**

``` sql
WITH cte AS (
    SELECT num,
    LEAD(num,1) OVER(ORDER BY id) num1,
    LEAD(num,2) OVER(ORDER BY id) num2
    FROM logs
)

SELECT DISTINCT num AS ConsecutiveNums 
FROM cte 
WHERE (num=num1) AND (num=num2)

**Solution-4:**

``` sql
SELECT DISTINCT
    num AS ConsecutiveNums
FROM
    (
        SELECT 
            num,
            LAG(num, 1) OVER (ORDER BY id) as num1,
            LAG(num, 2) OVER (ORDER BY id) as num2
        FROM
            Logs
    ) AS subquery
WHERE
    (num=num1) AND (num=num2)

**Solution-5:**

``` sql
--Approach - Using  LEAD and LAG
SELECT DISTINCT num AS ConsecutiveNums
FROM (
    SELECT 
        LAG(id) OVER (ORDER BY id) AS prev_id,
        id,
        LEAD(id) OVER (ORDER BY id) AS next_id,
        LAG(num) OVER (ORDER BY id) AS prev_num,
        num,
        LEAD(num) OVER (ORDER BY id) AS next_num
    FROM logs
) subquery
WHERE prev_num = num 
  AND num = next_num
  AND next_id - id = 1 
  AND id - prev_id = 1;

**Solution-6:**

``` sql
--Approach - Using EXISTS and SUBQUERY 
SELECT DISTINCT l1.num AS ConsecutiveNums
FROM Logs l1
WHERE EXISTS (
    SELECT 1
    FROM Logs l2
    WHERE l2.id = l1.id + 1 AND l2.num = l1.num
    AND EXISTS (
        SELECT 1
        FROM Logs l3
        WHERE l3.id = l1.id + 2 AND l3.num = l1.num
    )
);