# **512. Game Play Analysis II**

**Table: Activity**
``` console
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
```
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

Write a solution to report the device that is first logged in for each player.

Return the result table in any order.

The result format is in the following example.

**Example 1:**

**Input:** 
**Activity table:**
``` console
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
```
**Output:** 
``` console
+-----------+-----------+
| player_id | device_id |
+-----------+-----------+
| 1         | 2         |
| 2         | 3         |
| 3         | 1         |
+-----------+-----------+
```

**Solution 1:**

In [ ]:
SELECT A.player_id, A.device_id
FROM activity A
INNER JOIN (
    SELECT  player_id, MIN(event_date ) AS min_event_date
    FROM Activity
    GROUP BY player_id
) B
ON A.player_id =B.player_id  AND A.event_date = B.min_event_date

**Solution 2:**

In [ ]:
SELECT player_id, device_id 
FROM activity 
WHERE (player_id, event_date) IN (
                                SELECT player_id, min(event_date)
                                FROM activity 
                                GROUP BY player_id
                                 )

**Solution 3**

In [ ]:
SELECT A.player_id, A.device_id 
FROM Activity A 
INNER JOIN (SELECT player_id, device_id, MIN(event_date) as l 
            FROM Activity 
            GROUP BY player_id) tmp 
ON A.player_id = tmp.player_id AND A.event_date = tmp.l

**Solution 4:**

In [ ]:
SELECT player_id
        ,device_id
FROM 
    (SELECT player_id
            ,device_id
            ,rank() OVER(PARTITION BY player_id ORDER BY event_date) AS rnk
    FROM Activity) rnk_table
WHERE rnk_table.rnk = 1

**Solution 5:**

In [ ]:
SELECT  DISTINCT player_id,
        FIRST_VALUE(device_id) OVER(PARTITION BY player_id ORDER BY event_date ASC) AS device_id 
FROM Activity

In [ ]:
-- THIS CODE IS TIME LIMIT EXCEEDED
SELECT player_id, device_id
FROM activity a
WHERE 1 > (SELECT count(DISTINCT event_date)
FROM activity b
WHERE a.player_id = b.player_id
AND a.event_date > b.event_date)