# **1076. Project Employees II**

**Table: Project**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| project_id  | int     |
| employee_id | int     |
+-------------+---------+
```
(project_id, employee_id) is the primary key (combination of columns with unique values) of this table.
employee_id is a foreign key (reference column) to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 
**Table: Employee**
``` console
+------------------+---------+
| Column Name      | Type    |
+------------------+---------+
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |
+------------------+---------+
```
employee_id is the primary key (column with unique values) of this table.
Each row of this table contains information about one employee.
 
Write a solution to report all the projects that have the most employees.

Return the result table in any order.

The result format is in the following example.


**Example 1:**

**Input:**

**Project table:**
``` console
+-------------+-------------+
| project_id  | employee_id |
+-------------+-------------+
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |
+-------------+-------------+
```
**Employee table:**
``` console
+-------------+--------+------------------+
| employee_id | name   | experience_years |
+-------------+--------+------------------+
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 1                |
| 4           | Doe    | 2                |
+-------------+--------+------------------+
```
**Output:** 
``` console
+-------------+
| project_id  |
+-------------+
| 1           |
+-------------+
```
**Explanation:** The first project has 3 employees while the second one has 2.

**Solution 1:**

In [ ]:
SELECT project_id
FROM project
GROUP BY project_id
HAVING COUNT(DISTINCT employee_id) = (
    SELECT COUNT(DISTINCT employee_id) as cnt 
    FROM project
    GROUP BY project_id
    ORDER BY cnt DESC 
    LIMIT 1
)