# **1440. Evaluate Boolean Expression**
``` console
Table Variables:

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| name          | varchar |
| value         | int     |
+---------------+---------+
In SQL, name is the primary key for this table.
This table contains the stored variables and their values.
 

Table Expressions:

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| left_operand  | varchar |
| operator      | enum    |
| right_operand | varchar |
+---------------+---------+
In SQL, (left_operand, operator, right_operand) is the primary key for this table.
This table contains a boolean expression that should be evaluated.
operator is an enum that takes one of the values ('<', '>', '=')
The values of left_operand and right_operand are guaranteed to be in the Variables table.
 

Evaluate the boolean expressions in Expressions table.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Variables table:
+------+-------+
| name | value |
+------+-------+
| x    | 66    |
| y    | 77    |
+------+-------+

Expressions table:
+--------------+----------+---------------+
| left_operand | operator | right_operand |
+--------------+----------+---------------+
| x            | >        | y             |
| x            | <        | y             |
| x            | =        | y             |
| y            | >        | x             |
| y            | <        | x             |
| x            | =        | x             |
+--------------+----------+---------------+

Output: 
+--------------+----------+---------------+-------+
| left_operand | operator | right_operand | value |
+--------------+----------+---------------+-------+
| x            | >        | y             | false |
| x            | <        | y             | true  |
| x            | =        | y             | false |
| y            | >        | x             | true  |
| y            | <        | x             | false |
| x            | =        | x             | true  |
+--------------+----------+---------------+-------+

Explanation: 
As shown, you need to find the value of each boolean expression in the table using the variables table.
```

**Solution-1:**

``` sql
SELECT e.left_operand, e.operator, e.right_operand,
    (
        CASE
            WHEN e.operator = '<' AND v1.value < v2.value THEN 'true'
            WHEN e.operator = '=' AND v1.value = v2.value THEN 'true'
            WHEN e.operator = '>' AND v1.value > v2.value THEN 'true'
            ELSE 'false'
        END
    ) AS value
FROM Expressions e
JOIN Variables v1
ON e.left_operand = v1.name
JOIN Variables v2
ON e.right_operand = v2.name

**Solution-2:**

``` sql
# Write your MySQL query statement below
SELECT a.left_operand, a.operator, a.right_operand,
CASE 
    WHEN a.operator = '<' AND a.left_value < a.right_value then 'true'
    WHEN a.operator = '=' AND a.left_value = a.right_value then 'true'
    WHEN a.operator = '>' AND a.left_value > a.right_value then 'true'
    ELSE 'false'
END as value
FROM
(select e.left_operand, e.operator, e.right_operand,
MAX(case when e.left_operand = name THEN value END) as left_value,
MAX(case when e.right_operand = name THEN value END) as right_value
FROM expressions e, Variables
GROUP BY 1,2,3)a

``` sql
# Write your MySQL query statement below
SELECT a.left_operand, a.operator, a.right_operand,
CASE 
    WHEN (a.operator = '<' AND a.left_value < a.right_value) OR 
        (a.operator = '=' AND a.left_value = a.right_value) OR 
        (a.operator = '>' AND a.left_value > a.right_value) 
    then 'true'
    ELSE 'false'
END as value
FROM
(select e.left_operand, e.operator, e.right_operand,
MAX(case when e.left_operand = name THEN value END) as left_value,
MAX(case when e.right_operand = name THEN value END) as right_value
FROM expressions e, Variables
GROUP BY 1,2,3)a