# **1783. Grand Slam Titles**
``` console
Table: Players

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| player_id      | int     |
| player_name    | varchar |
+----------------+---------+
player_id is the primary key (column with unique values) for this table.
Each row in this table contains the name and the ID of a tennis player.
 

Table: Championships

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| year          | int     |
| Wimbledon     | int     |
| Fr_open       | int     |
| US_open       | int     |
| Au_open       | int     |
+---------------+---------+
year is the primary key (column with unique values) for this table.
Each row of this table contains the IDs of the players who won one each tennis tournament of the grand slam.
 

Write a solution to report the number of grand slam tournaments won by each player. Do not include the players who did not win any tournament.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Players table:
+-----------+-------------+
| player_id | player_name |
+-----------+-------------+
| 1         | Nadal       |
| 2         | Federer     |
| 3         | Novak       |
+-----------+-------------+

Championships table:
+------+-----------+---------+---------+---------+
| year | Wimbledon | Fr_open | US_open | Au_open |
+------+-----------+---------+---------+---------+
| 2018 | 1         | 1       | 1       | 1       |
| 2019 | 1         | 1       | 2       | 2       |
| 2020 | 2         | 1       | 2       | 2       |
+------+-----------+---------+---------+---------+

Output: 
+-----------+-------------+-------------------+
| player_id | player_name | grand_slams_count |
+-----------+-------------+-------------------+
| 2         | Federer     | 5                 |
| 1         | Nadal       | 7                 |
+-----------+-------------+-------------------+

Explanation: 
Player 1 (Nadal) won 7 titles: Wimbledon (2018, 2019), Fr_open (2018, 2019, 2020), US_open (2018), and Au_open (2018).
Player 2 (Federer) won 5 titles: Wimbledon (2020), US_open (2019, 2020), and Au_open (2019, 2020).
Player 3 (Novak) did not win anything, we did not include them in the result table.
```

**Solution-1:**

``` sql
# Write your MySQL query statement below
SELECT player_id,player_name,grand_slams_count
FROM players
INNER JOIN(
SELECT player_id, count(*) as grand_slams_count
FROM
(SELECT year, Wimbledon as player_id FROM Championships
UNION ALL
SELECT year, Fr_open as player_id FROM Championships
UNION ALL
SELECT year, US_open as player_id FROM Championships
UNION ALL
SELECT year, Au_open as player_id FROM Championships) a
GROUP BY player_id) b
USING(player_id)

**Solution-2:**

``` sql
select player_id, player_name, count(*) as grand_slams_count
from championships
cross join lateral (
    values
    ('Wimbledon', Wimbledon),
    ('Fr_open', Fr_open),
    ('US_open', US_open),
    ('Au_open', Au_open)
) as l(tourny, player_id)
left join players using(player_id)
group by player_id, player_name

**Solution-3:**

``` sql
/* Write your T-SQL query statement below */
with cte as (select year,play_id
from championships
unpivot (
    play_id for tournment in(Wimbledon, fr_open, us_open, au_open)
) as unpivotsales)
select player_id,
player_name,
count(player_id) as grand_slams_count 
from players join cte on 
players.player_id = cte.play_id 
group by player_id,player_name

**Solutioin-4:**

``` sql
# Write your MySQL query statement below
SELECT player_id,player_name,
SUM(player_id=Wimbledon)+SUM(player_id=Fr_open)+SUM(player_id=US_open)+SUM(player_id=Au_open)
as grand_slams_count
FROM Players
JOIN Championships
ON player_id=Wimbledon or player_id=Fr_open or player_id=US_open or player_id=Au_open
GROUP BY player_id;