# **1951. All the Pairs With the Maximum Number of Common Followers**

**Table: Relations**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| user_id     | int  |
| follower_id | int  |
+-------------+------+
```
(user_id, follower_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates that the user with ID follower_id is following the user with ID user_id.
 

Write a solution to find all the pairs of users with the maximum number of common followers. In other words, if the maximum number of common followers between any two users is maxCommon, then you have to return all pairs of users that have maxCommon common followers.

The result table should contain the pairs user1_id and user2_id where user1_id < user2_id.

Return the result table in any order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Relations table:**
``` console
+---------+-------------+
| user_id | follower_id |
+---------+-------------+
| 1       | 3           |
| 2       | 3           |
| 7       | 3           |
| 1       | 4           |
| 2       | 4           |
| 7       | 4           |
| 1       | 5           |
| 2       | 6           |
| 7       | 5           |
+---------+-------------+
```
**Output:** 
``` console
+----------+----------+
| user1_id | user2_id |
+----------+----------+
| 1        | 7        |
+----------+----------+
```
**Explanation:** 

Users 1 and 2 have two common followers (3 and 4).

Users 1 and 7 have three common followers (3, 4, and 5).

Users 2 and 7 have two common followers (3 and 4).

Since the maximum number of common followers between any two users is 3, we return all pairs of users with three common followers, which is only the pair (1, 7). We return the pair as (1, 7), not as (7, 1).

Note that we do not have any information about the users that follow users 3, 4, and 5, so we consider them to have 0 followers.

**Solution-1:**

``` sql
# Write your MySQL query statement below

with cte as
(SELECT a.user_id AS user1_id, b.user_id AS user2_id,
COUNT( distinct b.follower_id) as cnt
FROM Relations a
JOIN Relations b
ON a.follower_id = b.follower_id and a.user_id <> b.user_id and a.user_id < b.user_id
GROUP BY 1,2)

SELECT user1_id, user2_id
FROM cte
WHERE cnt = (SELECT max(cnt) FROM cte)

**Solution-2:**

``` sql
# Write your MySQL query statement below

SELECT user1_id, user2_id
FROM (SELECT a.user_id AS user1_id, b.user_id AS user2_id,
DENSE_RANK() OVER(ORDER BY COUNT( distinct b.follower_id) DESC) as rn
FROM Relations a
JOIN Relations b
ON a.follower_id = b.follower_id and a.user_id < b.user_id
GROUP BY 1,2) a
WHERE rn = 1