# **2159. Order Two Columns Independently**

**Table: Data**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| first_col   | int  |
| second_col  | int  |
+-------------+------+
```
This table may contain duplicate rows.
 

Write a solution to independently:

order first_col in ascending order.
order second_col in descending order.
The result format is in the following example.

 

**Example 1:**

**Input:** 
**Data table:**
``` console
+-----------+------------+
| first_col | second_col |
+-----------+------------+
| 4         | 2          |
| 2         | 3          |
| 3         | 1          |
| 1         | 4          |
+-----------+------------+
```
**Output:**
``` console 
+-----------+------------+
| first_col | second_col |
+-----------+------------+
| 1         | 4          |
| 2         | 3          |
| 3         | 2          |
| 4         | 1          |
+-----------+------------+
```

**Solution-1:**

``` sql
# Write your MySQL query statement below

SELECT a.first_col, b.second_col
FROM
(SELECT first_col, ROW_NUMBER()OVER(ORDER BY first_col) as first_order FROM Data ) a
JOIN
(SELECT second_col, ROW_NUMBER()OVER(ORDER BY second_col DESC) as second_order FROM Data) b
ON a.first_order = b.second_order

**Solution-2:**

``` sql
WITH col_ranks AS (
  SELECT
    D.first_col,
    D.second_col,
    ROW_NUMBER() OVER (ORDER BY D.first_col) AS fc_rnk,
    ROW_NUMBER() OVER (ORDER BY D.second_col DESC) AS sc_rnk
  FROM
    Data D
)
SELECT
  CR1.first_col,
  CR2.second_col
FROM
  col_ranks CR1
  INNER JOIN col_ranks CR2 ON CR1.fc_rnk = CR2.sc_rnk
ORDER BY
  CR1.fc_rnk;