# **2298. Tasks Count in the Weekend**

**Table: Tasks**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| task_id     | int  |
| assignee_id | int  |
| submit_date | date |
+-------------+------+
```
task_id is the primary key (column with unique values) for this table.

Each row in this table contains the ID of a task, the id of the assignee, and the submission date.
 

Write a solution to report:

the number of tasks that were submitted during the weekend (Saturday, Sunday) as weekend_cnt, and
the number of tasks that were submitted during the working days as working_cnt.

Return the result table in any order.

The result format is shown in the following example.

 

**Example 1:**

**Input:** 
**Tasks table:**
``` console
+---------+-------------+-------------+
| task_id | assignee_id | submit_date |
+---------+-------------+-------------+
| 1       | 1           | 2022-06-13  |
| 2       | 6           | 2022-06-14  |
| 3       | 6           | 2022-06-15  |
| 4       | 3           | 2022-06-18  |
| 5       | 5           | 2022-06-19  |
| 6       | 7           | 2022-06-19  |
+---------+-------------+-------------+
```
**Output:** 
``` console
+-------------+-------------+
| weekend_cnt | working_cnt |
+-------------+-------------+
| 3           | 3           |
+-------------+-------------+
```
**Explanation:** 
- Task 1 was submitted on Monday.
- Task 2 was submitted on Tuesday.
- Task 3 was submitted on Wednesday.
- Task 4 was submitted on Saturday.
- Task 5 was submitted on Sunday.
- Task 6 was submitted on Sunday.
- 3 tasks were submitted during the weekend.
- 3 tasks were submitted during the working days.

**Solution-1:**

``` sql
# Write your MySQL query statement below

SELECT 
SUM(
    CASE 
    WHEN dayname(submit_date) 
    IN ('Saturday', 'Sunday') 
    THEN 1 ELSE 0 END) As weekend_cnt,
SUM(
    CASE 
    WHEN dayname(submit_date) 
    IN ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 
    THEN 1 ELSE 0 END) As working_cnt
FROM Tasks

**Solution-2:**

``` sql
# Write your MySQL query statement below

SELECT 
SUM(CASE WHEN weekday(submit_date) IN (5,6) THEN 1 ELSE 0 END) As weekend_cnt,
SUM(CASE WHEN weekday(submit_date) IN (0,1,2,3,4) THEN 1 ELSE 0 END) As working_cnt
FROM Tasks

**Solution-3:**

``` sql
# Write your MySQL query statement below

SELECT SUM(WEEKDAY(submit_date)>=5) AS weekend_cnt,
SUM(WEEKDAY(submit_date)<5) AS working_cnt
FROM Tasks;