# **2308. Arrange Table by Gender**

**Table: Genders**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| user_id     | int     |
| gender      | varchar |
+-------------+---------+
```
user_id is the primary key (column with unique values) for this table.

gender is ENUM (category) of type 'female', 'male', or 'other'.

Each row in this table contains the ID of a user and their gender.

The table has an equal number of 'female', 'male', and 'other'.
 

Write a solution to rearrange the Genders table such that the rows alternate between 'female', 'other', and 'male' in order. The table should be rearranged such that the IDs of each gender are sorted in ascending order.

Return the result table in the mentioned order.

The result format is shown in the following example.

 

**Example 1:**

**Input:** 
**Genders table:**
``` console
+---------+--------+
| user_id | gender |
+---------+--------+
| 4       | male   |
| 7       | female |
| 2       | other  |
| 5       | male   |
| 3       | female |
| 8       | male   |
| 6       | other  |
| 1       | other  |
| 9       | female |
+---------+--------+
```
**Output:** 
``` console
+---------+--------+
| user_id | gender |
+---------+--------+
| 3       | female |
| 1       | other  |
| 4       | male   |
| 7       | female |
| 2       | other  |
| 5       | male   |
| 9       | female |
| 6       | other  |
| 8       | male   |
+---------+--------+
```
**Explanation:**

Female gender: IDs 3, 7, and 9.

Other gender: IDs 1, 2, and 6.

Male gender: IDs 4, 5, and 8.

We arrange the table alternating between 'female', 'other', and 'male'.

Note that the IDs of each gender are sorted in ascending order.

**Solution-1:**

``` sql
SELECT user_id, gender
FROM
(SELECT user_id, gender, ROW_NUMBER() OVER(PARTITION BY gender ORDER BY user_id ASC) As rn
FROM Genders)a
ORDER BY rn ASC, gender

**Solution-2:**

``` sql
SELECT user_id, gender 
FROM Genders
ORDER BY ROW_NUMBER() OVER(PARTITION BY gender ORDER BY user_id ASC)ASC, gender

**Solution-3:**

``` sql
select user_id, gender
from genders
order by dense_rank() over (partition by gender order by user_id asc), length(gender) desc

**Solution-4:**

``` sql
WITH A AS(
    SELECT *, RANK() OVER(PARTITION BY gender ORDER BY user_id) AS rnk, IF(gender='female', 0, IF(gender='other', 1,  2)) AS rnk2 FROM Genders
)
SELECT user_id, gender FROM A ORDER BY rnk, rnk2;