# **2339. All the Matches of the League**

**Table: Teams**
``` console
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| team_name   | varchar |
+-------------+---------+
```
team_name is the column with unique values of this table.

Each row of this table shows the name of a team.
 

Write a solution to report all the possible matches of the league. Note that every two teams play two matches with each other, with one team being the home_team once and the other time being the away_team.

Return the result table in any order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Teams table:**
``` console
+-------------+
| team_name   |
+-------------+
| Leetcode FC |
| Ahly SC     |
| Real Madrid |
+-------------+
```
**Output:** 
``` console
+-------------+-------------+
| home_team   | away_team   |
+-------------+-------------+
| Real Madrid | Leetcode FC |
| Real Madrid | Ahly SC     |
| Leetcode FC | Real Madrid |
| Leetcode FC | Ahly SC     |
| Ahly SC     | Real Madrid |
| Ahly SC     | Leetcode FC |
+-------------+-------------+
```
**Explanation:** All the matches of the league are shown in the table.

**Solution-1:**

``` sql
# Write your MySQL query statement below

SELECT a.team_name as home_team, b.team_name as away_team
FROM teams a, teams b
WHERE a.team_name <> b.team_name