# **2820. Election Results**

**Table: Votes**
``` console
+-------------+---------+ 
| Column Name | Type    | 
+-------------+---------+ 
| voter       | varchar | 
| candidate   | varchar |
+-------------+---------+
```
(voter, candidate) is the primary key (combination of unique values) for this table.

Each row of this table contains name of the voter and their candidate. 

The election is conducted in a city where everyone can vote for one or more candidates or choose not to vote. 

Each person has 1 vote so if they vote for multiple candidates, their vote gets equally split across them. 

For example, if a person votes for 2 candidates, these candidates receive an equivalent of 0.5 votes each.

Write a solution to find candidate who got the most votes and won the election. Output the name of the candidate or If multiple candidates have an equal number of votes, display the names of all of them.

Return the result table ordered by candidate in ascending order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Votes table:**
``` console
+----------+-----------+
| voter    | candidate |
+----------+-----------+
| Kathy    | null      |
| Charles  | Ryan      |
| Charles  | Christine |
| Charles  | Kathy     |
| Benjamin | Christine |
| Anthony  | Ryan      |
| Edward   | Ryan      |
| Terry    | null      |
| Evelyn   | Kathy     |
| Arthur   | Christine |
+----------+-----------+
```
**Output:** 
``` console
+-----------+
| candidate | 
+-----------+
| Christine |  
| Ryan      |  
+-----------+
```
**Explanation:** 

- Kathy and Terry opted not to participate in voting, resulting in their votes being recorded as 0. Charles distributed his vote among three candidates, equating to 0.33 for each candidate. On the other hand, Benjamin, Arthur, Anthony, Edward, and Evelyn each cast their votes for a single candidate.

- Collectively, Candidate Ryan and Christine amassed a total of 2.33 votes, while Kathy received a combined total of 1.33 votes.

Since Ryan and Christine received an equal number of votes, we will display their names in ascending order.

**Solution-1:**

``` sql
WITH voter_candidate_percentage AS (
    SELECT 
        voter,
        candidate,
        COUNT(*) * 1.0 / SUM(COUNT(*)) OVER (PARTITION BY voter) AS percentage
    FROM Votes
    WHERE candidate IS NOT NULL
    GROUP BY voter, candidate
),
ranked_candidates AS (
    SELECT 
        candidate,
        RANK() OVER (ORDER BY SUM(percentage) DESC) AS rnk
    FROM voter_candidate_percentage
    GROUP BY candidate
)
SELECT candidate
FROM ranked_candidates
WHERE rnk = 1
ORDER BY candidate ASC;

**Solution-2:**

``` sql
# Write your MySQL query statement below

with cte as(select voter, candidate, 
Round(COUNT(candidate) over (partition by voter, candidate) / COUNT(candidate) over (partition by voter),2) as percen
FROM Votes
WHERE candidate is not null)
,cte2 as(select candidate,
RANK()OVER(order by sum(percen) desc) as rn
from cte
group by candidate)

select candidate from cte2 where rn = 1 order by candidate asc