# **2978. Symmetric Coordinates**

**Table: Coordinates**
``` console
+-------------+------+
| Column Name | Type |
+-------------+------+
| X           | int  |
| Y           | int  |
+-------------+------+
```
Each row includes X and Y, where both are integers. Table may contain duplicate values.
Two coordindates (X1, Y1) and (X2, Y2) are said to be symmetric coordintes if X1 == Y2 and X2 == Y1.

Write a solution that outputs, among all these symmetric coordintes, only those unique coordinates that satisfy the condition X1 <= Y1.

Return the result table ordered by X and Y (respectively) in ascending order.

The result format is in the following example.

 

**Example 1:**

**Input:** 
**Coordinates table:**
``` console
+----+----+
| X  | Y  |
+----+----+
| 20 | 20 |
| 20 | 20 |
| 20 | 21 |
| 23 | 22 |
| 22 | 23 |
| 21 | 20 |
+----+----+
```
**Output:** 
``` console
+----+----+
| x  | y  |
+----+----+
| 20 | 20 |
| 20 | 21 |
| 22 | 23 |
+----+----+
```
**Explanation:** 

- (20, 20) and (20, 20) are symmetric coordinates because, X1 == Y2 and X2 == Y1. This results in displaying (20, 20) as a distinctive coordinates.
- (20, 21) and (21, 20) are symmetric coordinates because, X1 == Y2 and X2 == Y1. However, only (20, 21) will be displayed because X1 <= Y1.
- (23, 22) and (22, 23) are symmetric coordinates because, X1 == Y2 and X2 == Y1. However, only (22, 23) will be displayed because X1 <= Y1.
The output table is sorted by X and Y in ascending order.

**Solution-1:**

``` sql
# Write your MySQL query statement below

select  distinct a.x, a.y
from (select *, row_number() over() rn from Coordinates) a
inner join (select *, row_number() over() rn from Coordinates) b
on a.x = b.y and a.y=b.x  and a.rn <> b.rn and a.x<=a.y
order by a.x asc, a.y asc

**Solution-2:*8

``` sql
select least(c1.X, c1.Y) as "x", greatest(c1.X, c1.Y) as "y"
from Coordinates as c1
join Coordinates as c2
    on (c1.X = c2.Y) and (c1.Y = c2.X)
group by 1, 2
having count(*) > 1
order by 1, 2

**Solution-3:**

``` sql
/* Write your T-SQL query statement below */
select * from(
select c1.x, c1.y
from Coordinates c1
join Coordinates c2
on c1.x = c2.y and c1.y = c2.x
where c1.x < c1.y 
union 
select x, y
from Coordinates 
where x = y 
group by x , y
having count(*)>1)a
order by x

**Solution-4:**

``` sql
# Write your MySQL query statement below
with cte as (
    select X as X, Y as Y from Coordinates where X <> Y group by X, Y
    union all
    select Y as X, X as Y from Coordinates where X <> Y group by Y, X
    union all
    select X as X, Y as Y from Coordinates where X = Y
)
select X,Y
from cte
group by X,Y
having count(*) > 1 and X <= Y
order by X,Y