# **Difference Between INTERSECT and INNER JOIN**
---

| Feature       | `INTERSECT`                                                    | `INNER JOIN`                                                   |
| ------------- | -------------------------------------------------------------- | -------------------------------------------------------------- |
| Purpose       | Returns **common rows** between two **result sets**            | Combines rows from two tables where **join condition** matches |
| Columns       | Must have **same number and order of columns** in both queries | Can have **different columns** from each table                 |
| Deduplication | Removes duplicates (like `DISTINCT`)                           | Duplicates remain unless handled explicitly                    |
| Use Case      | Comparing result sets                                          | Merging related data from multiple tables                      |


---

# **Difference Between UNION ALL and FULL OUTER JOIN**
---
| Feature       | `UNION ALL`                                    | `FULL OUTER JOIN`                                                   |
| ------------- | ---------------------------------------------- | ------------------------------------------------------------------- |
| Purpose       | **Appends** rows from two result sets          | Combines and aligns rows from both tables based on a join condition |
| Row Structure | Same columns in both queries (vertical append) | Joins rows side-by-side (horizontal merge)                          |
| Duplicates    | Keeps all duplicates                           | Keeps unmatched rows from both sides (with NULLs)                   |
| NULL Handling | Doesn't match rows; just stacks them           | Fills missing values with NULLs where no match                      |
---

## **Summary:**

| Concept      | `INTERSECT`         | `INNER JOIN`       | `UNION ALL`         | `FULL OUTER JOIN`    |
| ------------ | ------------------- | ------------------ | ------------------- | -------------------- |
| Focus        | Common rows         | Matched records    | Stack all records   | Combine all records  |
| Relationship | Between result sets | Based on join keys | Between result sets | Based on join keys   |
| Structure    | Same columns        | Any structure      | Same columns        | Different columns    |
| NULLs        | Not included        | Matched only       | Preserved           | Filled where missing |
---


## **Why does WHERE fail to filter aggregate functions like SUM(), COUNT(), AVG()?**
Because WHERE is applied before aggregation, while aggregate functions are evaluated after grouping.

## **SQL Query Processing Order (Simplified):**
### FROM / JOIN

### WHERE ‚Üí filters individual rows before aggregation

### GROUP BY

### HAVING ‚Üí filters after aggregation

### SELECT

### ORDER BY


# **Key Rule:**

‚úÖ Use WHERE to filter raw rows

‚úÖ Use HAVING to filter aggregated results

---

# **Difference between subquery and CTE?**


üîç  **CTE vs Subquery ‚Äî Key Differences**

| Feature               | **Subquery**                               | **CTE (WITH clause)**                                     |
| --------------------- | ------------------------------------------ | --------------------------------------------------------- |
| **Definition**        | A query inside another SQL query (nested)  | A named temporary result set defined using `WITH`         |
| **Reusability**       | Cannot be reused ‚Äî written inline          | Can be **referenced multiple times** in the same query    |
| **Readability**       | Less readable, especially if nested deeply | Easier to read, especially with complex logic             |
| **Recursion Support** | ‚ùå No                                       | ‚úÖ Yes ‚Äî Recursive CTEs can handle hierarchical data       |
| **Performance**       | Sometimes faster for small queries         | Better for complex, reusable logic                        |
| **Scope**             | Limited to the query it‚Äôs written in       | Limited to the statement it‚Äôs defined for (not persisted) |
---

üîÅ **Recap:**

**Subquery:** Inline, compact, good for quick filters.

**CTE:** Named, reusable, easier to maintain and extend ‚Äî ideal for complex or multi-layer queries.

---

## **What is the difference between GROUP BY and PARTITION BY?**


| Feature        | `GROUP BY`                                 | `PARTITION BY`                                               |
| -------------- | ------------------------------------------ | ------------------------------------------------------------ |
| Purpose        | Aggregates rows into **summary rows**      | Divides rows into **groups** for window (analytic) functions |
| Output Rows    | Returns **one row per group**              | Returns **one row per input row**                            |
| Used With      | Aggregate functions (`SUM`, `COUNT`, etc.) | Window functions (`ROW_NUMBER`, `RANK`, `SUM OVER`, etc.)    |
| Row Visibility | Collapses data                             | Preserves original rows                                      |

‚úÖ **Summary Table**

| Attribute              | `GROUP BY`        | `PARTITION BY`                  |
| ---------------------- | ----------------- | ------------------------------- |
| Reduces rows?          | Yes               | No                              |
| Used for aggregation?  | Yes               | No (used with window functions) |
| Used with OVER clause? | No                | Yes                             |
| Result granularity     | One row per group | One row per original input      |


---

# **How is NULL handled in SQL?**

Handling NULL in SQL can be confusing at first, but it's essential to understand ‚Äî because NULL represents ‚Äúunknown‚Äù or ‚Äúmissing‚Äù values, and behaves differently from other values in comparisons and calculations.

## **What is NULL in SQL?**

NULL means the absence of a value.

It is not equal to zero, an empty string, or any other default.

Any operation involving NULL usually results in NULL.

## **üîë Key Rules for Handling NULL**

### **1. Comparison with NULL**

You cannot use = or != to compare NULL.
``` sql
-- ‚ùå Incorrect:
WHERE column = NULL

-- ‚úÖ Correct:
WHERE column IS NULL

-- ‚úÖ Check for not null:
WHERE column IS NOT NULL
```
### **2. NULL in Expressions**
``` sql
SELECT 10 + NULL;   -- Result: NULL
SELECT 'abc' || NULL;  -- Result: NULL (in most SQL engines)
```
Any math or string operation with NULL returns NULL.

### **3. IS NULL and IS NOT NULL**
**Used for filtering:**

```sql
SELECT * FROM employees WHERE salary IS NULL;
```

### **4. COALESCE() Function**
**Returns the first non-null value in the list**.

```sql

SELECT COALESCE(NULL, NULL, 'Hello');  -- Result: 'Hello'
```
Use this to replace NULLs in output.

### **5. IFNULL() or NVL()**

Database-specific null-replacement functions:

MySQL: IFNULL(column, 'default')

Oracle: NVL(column, 'default')

PostgreSQL: COALESCE() (standard)

### **6. NULL in Aggregate Functions**

COUNT(*) counts all rows, including NULLs.

COUNT(column) ignores NULLs.

SUM(), AVG(), etc. ignore NULL values.

```sql
SELECT COUNT(*), COUNT(salary), SUM(salary)
FROM employees;
```
### **7. NULL in GROUP BY and ORDER BY**

NULLs form their own group in GROUP BY

Most databases sort NULLs first or last, depending on settings

## **‚úÖ Summary**

| Operation             | Behavior with NULL        |
| --------------------- | ------------------------- |
|  = NULL               | ‚ùå Invalid ‚Äî use IS NULL  |
| NULL + value          | ‚û°Ô∏è NULL                   |
| COUNT(column)         | ‚û°Ô∏è Ignores NULLs          |
| COALESCE(NULL, 'X')   | ‚û°Ô∏è 'X'                    |
| GROUP BY NULL         | ‚û°Ô∏è NULLs grouped together |

---



# **üîç PRIMARY KEY vs UNIQUE KEY ‚Äì Side-by-Side Comparison**

| Feature              | **PRIMARY KEY**                                             | **UNIQUE KEY**                                 |
| -------------------- | ----------------------------------------------------------- | ---------------------------------------------- |
| **Uniqueness**       | ‚úÖ Enforces uniqueness                                       | ‚úÖ Enforces uniqueness                          |
| **NULLs Allowed**    | ‚ùå Not allowed (no NULLs at all)                             | ‚úÖ Allowed (but only one `NULL` in most DBs)    |
| **Number per Table** | üî¥ Only **one** primary key per table                       | ‚úÖ Can have **multiple** unique keys            |
| **Default Index**    | ‚úÖ Automatically creates a **clustered** index (in most DBs) | ‚úÖ Creates a **non-clustered** index (usually)  |
| **Used For**         | Core identifier for each row (like ID)                      | Alternate unique identifiers (email, username) |
| **Combined Columns** | ‚úÖ Can span multiple columns (composite key)                 | ‚úÖ Can also be composite                        |

## **‚úÖ Can I Have Both?**

Yes! Example:

``` sql
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    phone_number VARCHAR(15) UNIQUE,
    email VARCHAR(100) UNIQUE
);
```

## **üî• Quick Summary**

| Rule                          | PRIMARY KEY                  | UNIQUE KEY          |
| ----------------------------- | ---------------------------- | ------------------- |
| Must be unique?               | ‚úÖ Yes                        | ‚úÖ Yes               |
| Can be NULL?                  | ‚ùå No                         | ‚úÖ Yes (usually one) |
| Number allowed per table      | Only 1                       | Many                |
| Used to define relationships? | ‚úÖ Often used in FOREIGN KEYs | ‚úÖ Can be used too   |

----



# **üîç DELETE vs TRUNCATE vs DROP ‚Äì Side-by-Side**


| Feature                  | **DELETE**                              | **TRUNCATE**                                                | **DROP**                                     |
| ------------------------ | --------------------------------------- | ----------------------------------------------------------- | -------------------------------------------- |
| **What it does**         | Deletes **rows** from a table           | Deletes **all rows** from a table                           | Deletes the **entire table (schema + data)** |
| **WHERE clause**         | ‚úÖ Yes ‚Äî can filter specific rows        | ‚ùå No ‚Äî removes all rows                                     | ‚ùå No ‚Äî drops the entire object               |
| **Rollback possible**    | ‚úÖ Yes ‚Äî it's DML (uses transaction log) | ‚ö†Ô∏è Maybe ‚Äî depends on DB, often **not fully** transactional | ‚ùå No ‚Äî DDL command, cannot be rolled back    |
| **Triggers fired**       | ‚úÖ Yes ‚Äî triggers execute                | ‚ùå No ‚Äî triggers do not fire                                 | ‚ùå No triggers, table is gone                 |
| **Performance**          | ‚ùå Slower for large data                 | ‚úÖ Very fast                                                 | ‚úÖ Very fast                                  |
| **Auto-increment reset** | ‚ùå No                                    | ‚úÖ Yes (in most DBs)                                         | ‚úÖ N/A (table gone)                           |
| **Schema stays?**        | ‚úÖ Yes                                   | ‚úÖ Yes                                                       | ‚ùå No ‚Äî table structure removed               |



## **Summary by Use Case**

| Task                            | Best Option |
| ------------------------------- | ----------- |
| Delete specific rows            | `DELETE`    |
| Delete all rows but keep schema | `TRUNCATE`  |
| Completely remove the table     | `DROP`      |


### **‚úÖ Examples**
#### **1. DELETE**
```sql

DELETE FROM employees WHERE department = 'Sales';

‚Üí Deletes only sales department rows.
```
#### **2. TRUNCATE**
```sql

TRUNCATE TABLE employees;

‚Üí Deletes all rows, cannot filter, faster than DELETE.
```
#### **3. DROP**
```sql

DROP TABLE employees;

‚Üí Removes the entire employees table ‚Äî data, schema, constraints, indexes ‚Äî everything.
```