# **618. Students Report By Geography**
``` console
Table: Student

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| name        | varchar |
| continent   | varchar |
+-------------+---------+
This table may contain duplicate rows.
Each row of this table indicates the name of a student and the continent they came from.
 

A school has students from Asia, Europe, and America.

Write a solution to pivot the continent column in the Student table so that each name is sorted alphabetically and displayed underneath its corresponding continent. The output headers should be America, Asia, and Europe, respectively.

The test cases are generated so that the student number from America is not less than either Asia or Europe.

The result format is in the following example.

 

Example 1:

Input: 
Student table:
+--------+-----------+
| name   | continent |
+--------+-----------+
| Jane   | America   |
| Pascal | Europe    |
| Xi     | Asia      |
| Jack   | America   |
+--------+-----------+

Output: 
+---------+------+--------+
| America | Asia | Europe |
+---------+------+--------+
| Jack    | Xi   | Pascal |
| Jane    | null | null   |
+---------+------+--------+
 

Follow up: If it is unknown which continent has the most students, could you write a solution to generate the student report?

```

**Solutions:**

In [ ]:
WITH RankedStudents AS (
    SELECT 
        name,
        continent,
        ROW_NUMBER() OVER(PARTITION BY continent ORDER BY name) AS row_num
    FROM 
        Student
)
SELECT 
    MAX(CASE WHEN continent = 'America' THEN name END) AS America,
    MAX(CASE WHEN continent = 'Asia' THEN name END) AS Asia,
    MAX(CASE WHEN continent = 'Europe' THEN name END) AS Europe
FROM 
    RankedStudents
GROUP BY row_num

In [ ]:
SELECT America,Asia,Europe
from
(select *,row_number() over (partition by continent order by name) as rank from student) AS RESULT
pivot
( max(name) FOR  CONTINENT IN
 ([America],[Asia],[Europe])
) AS PIV